header {
    height: 105vh;
    padding-top: 7rem;
    overflow: hidden;
}
h1, h5, h3 {
    color: var(--color-black);
}
h4 {
    size: 5rem;
}
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    
}
.header__top {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

.me, .widgets {
    display: absolute;

}

/*======================= Header Socials ===========================*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.8rem;
    left: 0;
    bottom: 0.3rem;
    font-size: 1.2rem;
}

/*======================= CTA ===========================*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/*======================= ME ===========================*/
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 25rem;
    height: 25rem;
    position: grid;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.widgets {
    background-color: var(--color-bg-variant);
    position: absolute;
    right: calc(30% - 25rem);
    margin-top: 4rem;
    border: 1px solid ;
    text-align: left;
    padding-left: 3rem;
    padding-top: 1rem;
    width: 43rem;
    height: 8rem;
    border-radius: 1rem;
}

.widgets > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.widgets > div:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor:default
}

.widgets > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.widget_content {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.widget_icon {
    margin-top: 6px;
    color: var(--color-primary);
}
.inline_Horizontal {
    display: grid;
    grid-template-columns: 1fr 20fr;
    gap: 1rem;
}
/*================================== MEDIA QUERIES (medium devices )====================================*/
@media screen and (max-width:1024px) {
    header {
        height: 68vh;
    }
    
}
/*================================== MEDIA QUERIES (small devices )====================================*/
@media screen and (max-width:600px) {
    header {
        height: 105vh;
    }
    .header__top {
        display: inline;
        grid-template-columns: none;
    }


    .header__socials, .scroll__down {
        display: none;
    }
}


/*======================= Scroll ===========================
.scroll__down {
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 0.9rem;
}
*/
